<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="engteach.user.mapper.UserGameResourceMapper">

    <select id="getUserGameResourceByEmail" resultType="engteach.user.entity.UserGameResource">
        SELECT *
        FROM user_game_resource
        WHERE user_email = #{userEmail}
    </select>

    <insert id="insertUserGameResource">
        INSERT INTO user_game_resource (user_email, user_coin, user_spark, create_time, update_time, user_level,
                                        punch_in_count)
        VALUES (#{user_email}, #{user_coin}, #{user_spark}, #{create_time}, #{update_time}, #{user_level},
                #{punch_in_count})
    </insert>

</mapper>