<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wordBook.mapper.WordBookMapper">
    <insert id="insertUnknown">
        INSERT INTO user_unknown(user_email, word_name)
        VALUES (#{user_email}, #{word_name})
    </insert>
    <select id="selectUnknown">
        SELECT word_name
        FROM user_unknown
        WHERE user_email = #{user_email}
    </select>
    <delete id="removeUnknown">
        DELETE
        FROM user_unknown
        WHERE user_email = #{userEmail}
          AND word_name = #{wordName}
    </delete>
    <select id="countUnknown" resultType="int">
        SELECT COUNT(*)
        FROM user_unknown
        WHERE user_email = #{user_email}
          AND word_name = #{word_name}
    </select>
</mapper>

